@font-face {
  font-family: 'Readex Pro';
  src: url("../../fonts/Readex-Pro-Font/ReadexPro-Regular.ttf"); }

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter/Inter-Regular.otf"); }

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(302.5px, 1fr));
  grid-gap: 10px;
  width: 92%;
  margin: 0 auto;
  justify-content: center; }

.product {
  cursor: pointer;
  color: #000;
  text-decoration: none;
  border-radius: 3px;
  transition: all 200ms ease-in-out; }
  .product:hover {
    background: #f7f7f7;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.077); }
  .product__image {
    width: 303px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center; }
  .product__title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px; }
  .product__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4B4B4B;
    margin: 9px 0 25px 0; }
  .product__price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000; }

#loader {
  width: 100%;
  text-align: center; }

.product-details {
  display: flex;
  align-items: center;
  padding: 20px 0 20px 0; }
  .product-details.product, .product-details:hover {
    background: #fbfbfb;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.077);
    cursor: default; }
  .product-details .product__image {
    width: 500px; }
    .product-details .product__image img {
      max-width: 100%;
      max-height: 100%; }

.details {
  margin-top: 20px; }
  .details .product__price {
    font-size: 34px; }
  .details .buttons {
    margin-top: 20px; }

.cart .product__image {
  width: 200px; }

.cart__delete {
  margin-bottom: 20px; }

.search {
  margin: 20px 0 40px 80px; }

.subscription__block {
  background: #DCE5E2;
  padding: 47px 180px 43.5px 180px;
  text-align: center; }

.subscription__title {
  font-family: 'Readex Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 52px;
  color: #000000; }

.subscription__description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-top: 9px; }

.subscription__image {
  margin-top: 14.5px; }

.subscription__form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%; }

.subscription__input {
  background: #DCE5E2;
  border: 1px solid #000000;
  border-radius: 54px 0px 0px 54px;
  padding: 16px 0 17px 32px; }

.subscription__btn {
  background: #000000;
  border: none;
  border-radius: 0px 200px 200px 0px;
  color: #fff;
  padding: 16px 32px 17px; }

.slider {
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  width: 90%;
  margin-top: 29px;
  border-radius: 32px; }
  .slider__blocks {
    display: grid;
    width: auto;
    position: relative;
    transition: all 0.5s ease;
    left: 0; }
  .slider__block {
    padding: 0px 56px 0px 57px;
    max-width: 100%;
    display: flex;
    overflow: hidden; }
    .slider__block button {
      border: 1px solid #000000;
      border-radius: 200px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      text-transform: capitalize;
      color: #000000;
      padding: 14px 53px;
      position: relative;
      z-index: 8; }
  .slider__title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;
    width: 94%; }
  .slider__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 19px 0 30px;
    width: 79%; }
  .slider__left {
    padding-top: 145px;
    width: 61%; }
  .slider__right {
    position: relative;
    top: 4px; }
  .slider__options {
    position: absolute;
    z-index: 9;
    bottom: 0;
    display: flex;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 51%;
    padding-bottom: 34px; }
  .slider__option {
    position: relative;
    margin-left: 12px;
    margin: 0 auto;
    width: 100%;
    height: 10px;
    margin-left: 27px;
    cursor: pointer;
    border: 4px solid transparent; }
  .slider__option:first-child {
    margin-left: 0; }
  .slider__buttons {
    z-index: 7;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
    top: 0; }
  .slider__btn {
    padding: 20px;
    background: none;
    border: none; }
  .slider-prevSlide {
    left: 0; }
  .slider-nextSlide {
    right: 0; }

.header {
  display: flex;
  align-items: center;
  padding: 26px 0;
  margin: 0 auto;
  width: 90%;
  justify-content: space-between; }
  .header__nav {
    margin: 0 334px 0 285px; }
  .header__links, .header__dropdown_menu {
    display: flex;
    list-style: none; }
  .header__link {
    margin-left: 34px; }
    .header__link:first-child {
      margin-left: 0; }
  .header__link a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000; }
  .header__dropdown {
    position: relative; }
  .header__dropdown_menu {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    row-gap: 34px;
    text-align: center; }
    .header__dropdown_menu .header__link {
      margin-left: 0; }
  .header-open_dropdown {
    display: flex; }
  .header__dropdown-btn {
    border: none;
    background: none;
    margin-left: 3px; }
  .header__dropdown-block {
    opacity: 0;
    transition: opacity 0.34s ease-in-out;
    -webkit-transition: opacity 0.34s ease-in-out;
    -moz-transition: opacity 0.34s ease-in-out;
    background: #fff;
    padding: 60px 53px;
    position: absolute;
    width: 667px;
    z-index: 99; }
  .header__buttons {
    margin-right: 28px;
    display: flex;
    position: relative; }
  .header__button {
    margin-left: 22px;
    background: none;
    border: none;
    cursor: pointer; }
  .header__searchBtn {
    width: 40px;
    height: 100%;
    position: absolute;
    right: 26px;
    display: flex;
    border: none;
    border-radius: 5px;
    margin-right: 15px;
    transition: width 0.24s ease-in;
    -webkit-transition: width 0.24s ease-in;
    -moz-transition: width 0.24s ease-in; }
    .header__searchBtn input {
      opacity: 0;
      height: 100%;
      width: 85%;
      transition: all 0.3s ease;
      position: absolute;
      right: 24px;
      border: none;
      border-right: none !important;
      font-size: 15.4px;
      color: #454343;
      border-radius: 5px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0; }
      .header__searchBtn input[type=text]:focus {
        outline: none;
        border: none; }
    .header__searchBtn img {
      margin-left: 0px;
      position: absolute;
      right: 0;
      transition: transform 0.4s ease;
      padding: 0 6px; }

body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

button {
  cursor: pointer; }

.wrapper {
  width: 100%; }
