// to start watching changes --> $ npm run compile-sass

@font-face {
    font-family: 'Readex Pro';
    src: url('../../fonts/Readex-Pro-Font/ReadexPro-Regular.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('../../fonts/Inter/Inter-Regular.otf');
}

// components sass
@import './components/products';
@import './components/product';
@import './components/cart';
@import './components/search';
@import './components/subscription';
@import './components/slider';

// layout sass
@import './layout/header';

// pages sass
@import './pages/home/latest';

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.wrapper {
    width: 100%;
    overflow-x: hidden;
}

.title {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    color: #000000;    
}

.description {
    font-family: 'Readex Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    padding: 0px 334px;
    letter-spacing: 0px;
}