@import '../mixins/mixins';

.header {
    display: flex;
    align-items: center;
    padding: 26px 0;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;

    &__nav {
        margin: 0 334px 0 285px;
    }

    &__links,
    &__dropdown_menu {
        display: flex;
        list-style: none;
    }

    &__link {
        margin-left: 34px;

        &:first-child {
            margin-left: 0;
        }
    }

    &__link a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        text-decoration: none;
        color: #000000;
    }

    &__dropdown {
        position: relative;
    }

    &__dropdown_menu {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        row-gap: 34px;
        text-align: center;

        & .header__link {
            margin-left: 0;
        }
    }

    &-open_dropdown {
        display: flex;
    }

    &__dropdown-btn {
        border: none;
        background: none;
        margin-left: 3px;
    }

    &__dropdown-block {
        opacity: 0;
        @include transition (opacity 0.34s ease-in-out);
        background: #fff;
        padding: 60px 53px;
        position: absolute;
        width: 667px;
        z-index: 99;
    }

    &__buttons {
        margin-right: 28px;
        display: flex;
        position: relative;
    }

    &__button {
        margin-left: 22px;
        background: none;
        border: none;
        cursor: pointer;
    }

    &__searchBtn {
        width: 40px;
        height: 100%;
        position: absolute;
        right: 26px;
        display: flex;
        border: none;
        border-radius: 5px;
        margin-right: 15px;
        @include transition (width 0.24s ease-in);

        & input {
            opacity: 0;
            height: 100%;
            width: 85%;
            transition: all 0.3s ease;
            position: absolute;
            right: 24px;
            border: none;
            border-right: none !important;
            font-size: 15.4px;
            color: #454343;
            border-radius: 5px;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;

            &[type=text]:focus {
                outline: none;
                border: none
            }
        }

        & img {
            margin-left: 0px;
            position: absolute;
            right: 0;
            transition: transform 0.4s ease;
            padding: 0 6px;
        }
    }
}