.best-products {
    margin-top: 47px;

    @media (min-width: 1024px) {
        margin-top: 107px;
    }

    @media (max-width: 1068px) {
        margin-top: 79px;
    }

    &__description {
        margin: 9px 0 56px 0;
        text-align: center !important;
    }

    &__blocks {
        display: flex;
        justify-content: center;

        @media (max-width: 1068px) {
            flex-direction: column;
        }
    }

    &__block {
        text-align: center;
        background: #F8F9FA;
        border-radius: 16px;
        padding-top: 41px;
        min-width: 29.1%;

        &:not(&:first-child) {
            margin-left: 28px;
        }

        @media (max-width: 1068px) {
            border-radius: 0;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 47px;

            &:not(&:first-child) {
                margin-left: 0px;
                margin: 0 auto;
                margin-bottom: 47px;
            }

            &:last-child {
                padding-bottom: 47px;
            }
        }

        & img {
            @media (max-width: 1068px) {
                max-width: 100%;
            }
        }
    }

    &__small-t {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: #000000;
    }

    &__big-t {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: #000000;
    }

    &__link {
        text-decoration: none;
    }

    &__btn {
        display: flex;
        border: 1px solid #000000;
        border-radius: 200px;
        background: none;
        padding: 14px 63px;
        margin: 30px auto;
        color: #000000;
        color: inherit;
        transition: background 0.3s ease-in-out, border 0.2s ease-in;

        &:hover {
            border: 1px solid transparent;
            background: #efefef;
        }

        @media (max-width: 1400px) {
            font-size: 16px;
            font-weight: bold;
        }
    }
}