.latest {
    margin: 0 auto;
    width: 90%;
    margin-top: 75px;

    & img {
        @media (max-width: 1026px) {
            width: 100%;
        }

        @media (max-width: 769px) {
            width: 85%;
        }
    }

    &__blocks {
        display: flex;

        @media (max-width: 1026px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__title {
        width: 100% !important;

        @media (max-width: 1026px) {
            text-align: left !important;
        }
    }

    &__description {
        margin: 9px 0 55px 0;

        @media (max-width: 1026px) {
            text-align: left !important;
            font-size: 17px !important;
            line-height: 26px !important;
            letter-spacing: -0.21px !important;
            margin: 9px 0 55px 0;
            padding: 0 !important;
            line-height: 29px !important;
            margin-bottom: 41px !important;
        }
    }

    &__wide {
        width: 50%;

        @media (max-width: 1026px) {
            width: 100%;
            display: flex;
        }

        @media (max-width: 689px) {
            flex-direction: column;
            align-items: center;
        }

        & .latest__slogan {
            @media (max-width: 480px) {
                font-size: 25px;
            }
        }
    }

    &__narrow {
        width: 25%;
        height: 100%;

        @media (max-width: 1026px) {
            width: 100%;
        }

        & .latest__element {
            width: 98.4%;
            height: 100%;
            padding: 144px 0;

            @media (max-width: 480px) {
                margin-bottom: 26px;
            }

            & img {
                width: 100%;
            }
        }

        & .latest__text {
            text-align: center;
            margin: 42px 0;
        }
    }

    &__element {
        display: block;
        text-decoration: none;
        -webkit-box-shadow: -4 6px 44px -13px #ebebeb;
        -moz-box-shadow: -4 6px 44px -13px #ebebeb;
        box-shadow: -4px 6px 44px -13px #ebebeb;
        background: #fff;
        margin-bottom: 63px;
        transition: transform 0.12s ease-in;
        transform: translate(0);
        cursor: pointer;

        & .txt-right {
            text-align: right;
            margin-left: auto;
        }

        &:hover {
            transform: translateY(10px);
            transition: transform 0.15s ease-in-out;
        }
    }

    &__category {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        color: #000000;
    }

    &__slogan {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        color: #000000;

        @media (max-width: 769px) {
            font-size: 28px;
        }
    }

    &__middle-size {
        width: 99%;
        padding: 0 42px;

        @media (max-width: 1026px) {
            width: 94%;
        }
    }

    &__middle-text {
        width: 40%;

        @media (max-width: 1222px) {
            width: 49%;
        }

        @media (max-width: 1032px) {
            width: 62%;
        }

        @media (max-width: 769px) {
            width: 79%;
        }
    }

    &__small-size {
        width: 99%;
        display: flex;
        align-items: center;
        justify-content: start;
        padding: 0 42px;
        flex-wrap: wrap;

        @media (max-width: 1026px) {
            width: 88%;
        }
    }

    &__small-text {
        width: 28%;

        @media (max-width: 1164px) {
            width: 38%;
        }

        @media (max-width: 769px) {
            width: 56%;
        }
    }

    &__big-size {
        & .latest__slogan {
            padding: 0 6px;
        }
    }
}