// <div class="products" id="products"></div>
// <div id="loader"><img src="./images/loader.gif" alt="loader"></div>

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(302.5px, 1fr));
    grid-gap: 10px;
    width: 92%;
    margin: 0 auto;
    justify-content: center;

    @media (max-width: 769px) {
        width: 75%;
    }
}

.product {
    cursor: pointer;
    color: #000;
    text-decoration: none;
    border-radius: 3px;
    transition: color 160ms ease-in-out;

    &:hover {
        color: #b0b0b0;
    }

    &__image {
        width: 303px;
        height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 769px) {
            margin: 0 auto;
        }
    }

    &__title {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
    }

    &__description {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4B4B4B;
        margin: 9px 0 25px 0;
    }

    &__price {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
    }
}

#loader {
    width: 100%;
    text-align: center;
}