// <div class="slider">
//     <div class="slider__blocks"></div>
//     <div class="slider__options"></div>
//     <div class="slider__buttons"></div>
// </div>

.slider {
    overflow-x: hidden;
    position: relative;
    margin: 0 auto;
    width: 90%;
    margin-top: 29px;
    border-radius: 32px;

    &__blocks {
        display: grid;
        width: auto;
        position: relative;
        transition: all 0.5s ease;
        left: 0;
    }

    &__block {
        padding: 0px 56px 0px 57px;
        max-width: 100%;
        display: flex;
        overflow: hidden;

        & button {
            border: 1px solid #000000;
            border-radius: 200px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            text-transform: capitalize;
            color: #000000;
            padding: 14px 53px;
            position: relative;
            z-index: 8;
        }
    }

    &__title {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 58px;
        line-height: 70px;
        width: 94%;
    }

    &__description {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin: 19px 0 30px;
        width: 79%;
    }

    &__left {
        padding-top: 145px;
        width: 61%;
    }

    &__right {
        position: relative;
        top: 4px;
    }

    &__options {
        position: absolute;
        z-index: 9;
        bottom: 0;
        display: flex;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        width: 51%;
        padding-bottom: 34px;
    }

    &__option {
        position: relative;
        margin-left: 12px;
        margin: 0 auto;
        width: 100%;
        height: 10px;
        margin-left: 27px;
        cursor: pointer;
        border: 4px solid transparent;
    }

    &__option:first-child {
        margin-left: 0;
    }

    &__buttons {
        z-index: 7;
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto 0;
        top: 0;
    }

    &__btn {
        padding: 20px;
        background: none;
        border: none;
    }

    &-prevSlide {
        left: 0;
    }

    &-nextSlide {
        right: 0;
    }
}