// <div class="subscription">
//     <div class="subscription__block">
//         <div class="subscription__title">Never miss a thing</div>
//         <div class="subscription__description">Sign up for texts to be notified about our best offers on the perfect gifts.</div>
//         <img src="../images/sub-img.png" class="subscription__image">
//         <form class="subscription__form" action="/send_email" method="POST">
//             <input class="subscription__input" type="text" placeholder="Your email" enctype="multipart/form-data" name="email" required>
//             <button class="subscription__btn" type="submit">Sign up</button>
//         </form>
//     </div>
// </div>

.subscription {
    &__block {
        background: #DCE5E2;
        padding: 47px 180px 43.5px 180px;
        text-align: center;

        @media (max-width: 1144px) {
            width: 73% !important;   
            padding: 47px 60px 43.5px 60px;
        }

        @media (max-width: 519px) {
            width: 80% !important;
            padding: 47px 30px 43.5px 30px;
        }

        @media (max-width: 356px) {
            width: 88% !important;
            padding: 47px 19px 43.5px 19px;
        }
    }

    &__title {
        font-family: 'Readex Pro';
        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 52px;
        color: #000000;
    }

    &__description {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-top: 9px;
    }

    &__image {
        margin-top: 14.5px;

        @media (max-width: 1024px) {
            width: 36%;
        }

        @media (max-width: 459px) {
            width: 42%;
        }

        @media (max-width: 395px) {
            width: 52%;
        }
    }

    &__form {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }

    &__input {
        background: #DCE5E2;
        border: 1px solid #000000;
        border-radius: 54px 0px 0px 54px;
        padding: 16px 0 17px 32px;
        padding-right: 6rem;

        @media (min-width: 1269px) {
            padding-right: 11rem;
        }

        @media (max-width: 690px) {
            padding-right: 2rem;
            padding: 5px 0 5px 19px;
        }
    }

    &__btn {
        background: #000000;
        border: none;
        border-radius: 0px 200px 200px 0px;
        color: #fff;
        padding: 16px 32px 17px;

        @media (max-width: 419px) {
            padding: 11px 25px 11px;
        }

        @media (max-width: 395px) {
            padding: 12px 14px 13px;
        }

        @media (max-width: 315px) {
            padding: 12px 19px 13px;
        }
    }
}