<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About project</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="header"></header>
        <div style="font-family: Inter; margin-left: 40px; margin-top: 40px" class="about-project">
            <h1 style="margin-bottom: 26px">You will see my <strong>strong</strong> commitment.</h1>
            <h2>Main Pros of Store made with only Javascript</h2>
            <ul style="list-style: inside; margin-top: 12px">
                <li>Site is definitely faster than with for example React, because there is no large packages/plugins which can slow down the whole project.</li>
                <li>More controle of functions - more personalized features</li>
                <li>No need to update site, because Javascript works great with every version, and versions can be combined</li>
            </ul>
            <h2 style="margin-top: 24px">Problems I faced during creation of that project</h2>
            <ul style="list-style: inside; margin-top: 12px">
                <li>A lot of time gone on mobile version <strong>*Tailwind is faster in case of responsive styling</strong></li>
                <li>Routes are messy with Express.js. <strong>*Next.js will be a faster and better looking solution</strong></li>
                <li>Pug is not a fast way to create dynamic pages, because it has many errors, css does not work correctly <strong>*I think rendering components can be a solution to keep less code</strong></li>
                <li>Sass is actually okay for that moment if it goes about just styling elements</li>
                <li>Modular architecture really makes error handling process easier. (easier to find bugs)</li>
                <li>Even more time was wasted on products json data.. <strong>*Next time I'll just fetch some from other store</strong></li>
                <li>My modular code is messy, and some of the media queries in sass as well. <strong>*Next.js can be more clear if write it right, I think</strong></li>
                <li>Sometimes styles names repeating. <strong>*In next.js there is no problem with that.</strong></li>
                <li>But in Next.js can be problems with error debugging, I need to look for some easiest way to do it if it exists.</li>
            </ul>
            <h2 style="margin-top: 24px">Why I chose to use Vanilla js for Frontend on that project?</h2>
            <ul style="list-style: inside; margin-top: 12px">
                <li><strong>Cause I wanted to actually face those problems above and understand roots of web developing, so other frameworks could be more easy to me. So, in the future I will use only required technologies in certain cases.</strong></li>
            </ul>
        </div>
        <footer class="footer"></footer>
    </div>

    <script type="module" src="../main.js"></script>
</body>

</html>