doctype html
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title California - #{category}
    link(rel='icon' type='image/x-icon' href='../images/favicon.png')
    link(rel='stylesheet' href='../css/style.css')
  body
    .wrapper
      header.header
      #products(class=`products ${category}`)
      #loader
        img(src='../images/loader.gif' alt='loader')
      footer.footer
    script(type='module' src='../main.js')