<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="subscription">
        <div class="subscription__block">
            <div class="subscription__title">Never miss a thing</div>
            <div class="subscription__description">Sign up for texts to be notified about our best offers on the perfect gifts.</div>
            <img src="../images/sub-img.png" class="subscription__image">
            <form class="subscription__form" action="/" method="POST">
                <input class="subscription__input" type="text" placeholder="Your email" name="email">
                <button class="subscription__btn" type="submit">Sign up</button>
            </form>
        </div>
    </div>

    <!-- <div class="search">
        <input class="search__input" type="text">
        <button>search</button>
        <div class="search__results"></div>
    </div>

    <div class="products" id="products"></div>
    <div id="loader"><img src="../images/loader.gif" alt="loader"></div> -->

    <script type="module" src="../main.js"></script>
</body>

</html>