<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>California</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
        </header>

        <section class="slider">
            <div class="slider__blocks"></div>
            <div class="slider__options"></div>
            <div class="slider__buttons"></div>
        </section>

        <section class="latest">
            <h1 class="latest__title title">Shop our latest offers and categories</h1>
            <h1 class="latest__description description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in est dui, aliquam, tempor.
                Faucibus morbi turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </h1>

            <div class="latest__blocks">
                <div class="latest__wide">
                    <div class="latest__middle-size latest__element">
                        <img src="../images/latest-wide.svg" alt="laptops">
                        <div class="latest__middle-text txt-right">
                            <p class="latest__category">Laptops</p>
                            <h2 class="latest__slogan">True Laptop
                                Solution</h2>
                        </div>
                    </div>
                    <div class="latest__small-size latest__element">
                        <img src="../images/latest-small.svg" alt="Watch">
                        <div class="latest__small-text txt-right">
                            <p class="latest__category">Watch</p>
                            <h2 class="latest__slogan">Not just stylisht</h2>
                        </div>
                    </div>
                </div>
                <div class="latest__narrow">
                    <div class="latest__big-size latest__element">
                        <img src="../images/latest-big1.svg" alt="Phones">
                        <div class="latest__text">
                            <p class="latest__category">Phones</p>
                            <h2 class="latest__slogan">Your day to day life</h2>
                        </div>
                    </div>
                </div>
                <div class="latest__narrow">
                    <div class="latest__big-size latest__element">
                        <div class="latest__text">
                            <p class="latest__category">Tablet</p>
                            <h2 class="latest__slogan">Empower your work</h2>
                        </div>
                        <img src="../images/latest-big2.svg" alt="Tablet">
                    </div>
                </div>
            </div>
        </section>

        <section class="most-selled">
            <div class="products most-selled__demo" id="products"></div>
            <div id="loader"><img src="./images/loader.gif" alt="loader"></div>
        </section>

        <section class="best-products">
            <h1 class="best-products__title title">See the best around here</h1>
            <h1 class="best-products__description description">
                Our new Limited Edition Winter Design BESPOKE 4-Door Flex™
            </h1>
            <div class="best-products__blocks">
                <div class="best-products__block">
                    <p class="best-products__small-t">Smart light bulb pack</p>
                    <p class="best-products__big-t">Latest and gratest</p>
                    <button class="best-products__btn">Explore</button>
                    <img src="../images/best-product1.svg" alt="Latest and gratest products">
                </div>
                <div class="best-products__block">
                    <p class="best-products__small-t">Smart light bulb pack</p>
                    <p class="best-products__big-t">Best selling</p>
                    <button class="best-products__btn">Explore</button>
                    <img src="../images/best-product2.svg" alt="Best selling products">
                </div>
                <div class="best-products__block">
                    <p class="best-products__small-t">Smart light bulb pack</p>
                    <p class="best-products__big-t">Every product</p>
                    <button class="best-products__btn">Explore</button>
                    <img src="../images/best-product3.svg" alt="Every product">
                </div>
            </div>
        </section>
    </div>

    <script type="module" src="../main.js"></script>
</body>

</html>