<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>California</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <img class="header__logo" src="../images/logo.svg" alt="california logo">
            <nav class="header__nav">
                <div class="header__mobile">
                    <img src="../images/bars.svg" class="mobile-btn" alt="menu navbar">
                    <span>Menu</span>
                </div>
                <div class="header__close">X</div>

                <ul class="header__links">
                    <li class="header__link"><a href="">all products</a></li>
                    <li class="header__link header__dropdown">
                        <div class="header-open_dropdown open_dropdown">
                            <p>Solutions</p>
                            <button class="header__dropdown-btn">
                                <svg width="12" height="8" viewBox="0 0 12 8" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_1_12)">
                                        <path d="M11 1L6 6L1 1" stroke="#070847" stroke-width="1.5" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_1_12">
                                            <rect width="12" height="8" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </button>
                        </div>
                        <div class="header__dropdown-block dropdown-block">
                            <ul class="header__dropdown_menu">
                                <li class="header__link"><a href="">Some other</a></li>
                                <li class="header__link"><a href="">Links of page</a></li>
                                <li class="header__link"><a href="">Opened on</a></li>
                                <li class="header__link"><a href="">btn click</a></li>
                                <li class="header__link"><a href="">Some other</a></li>
                                <li class="header__link"><a href="">Links of page</a></li>
                                <li class="header__link"><a href="">Opened on</a></li>
                                <li class="header__link"><a href="">btn click</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header__link"><a href="">ABOUT</a></li>
                    <li class="header__link"><a href="">Support</a></li>
                </ul>
            </nav>
            <div class="header__buttons">
                <button class="header__button header__searchBtn toggle-input">
                    <input class="toggled-input" type="text">
                    <img class="toggle-ic toggle-input" src="../images/search.svg" alt="">
                </button>
                <button class="header__button">
                    <img src="../images/cart.svg" alt="">
                </button>
            </div>
        </header>

        <section class="slider">
            <div class="slider__blocks"></div>
            <div class="slider__options"></div>
            <div class="slider__buttons"></div>
        </section>

        <section class="latest">
            <h1 class="latest__title title">Shop our latest offers and categories</h1>
            <h1 class="latest__description description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque in est dui, aliquam, tempor.
                Faucibus morbi turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </h1>

            <div class="latest__blocks">
                <div class="latest__wide">
                    <div class="latest__middle-size latest__element">
                        <img src="../images/latest-wide.svg" alt="laptops">
                        <div class="latest__middle-text txt-right">
                            <p class="latest__category">Laptops</p>
                            <h2 class="latest__slogan">True Laptop
                                Solution</h2>
                        </div>
                    </div>
                    <div class="latest__small-size latest__element">
                        <img src="../images/latest-small.svg" alt="Watch">
                        <div class="latest__small-text txt-right">
                            <p class="latest__category">Watch</p>
                            <h2 class="latest__slogan">Not just stylisht</h2>
                        </div>
                    </div>
                </div>
                <div class="latest__narrow">
                    <div class="latest__big-size latest__element">
                        <img src="../images/latest-big1.svg" alt="Phones">
                        <div class="latest__text">
                            <p class="latest__category">Phones</p>
                            <h2 class="latest__slogan">Your day to day life</h2>
                        </div>
                    </div>
                </div>
                <div class="latest__narrow">
                    <div class="latest__big-size latest__element">
                        <div class="latest__text">
                            <p class="latest__category">Tablet</p>
                            <h2 class="latest__slogan">Empower your work</h2>
                        </div>
                        <img src="../images/latest-big2.svg" alt="Tablet">
                    </div>
                </div>
            </div>
        </section>

        <section class="most-selled">
            <div class="products most-selled__demo" id="products"></div>
            <div id="loader"><img src="./images/loader.gif" alt="loader"></div>
        </section>
    </div>

    <script type="module" src="../main.js"></script>
</body>

</html>