script(type='module' src='../main.js')
doctype html
head
  title Product details
  link(rel='stylesheet' href='../css/style.css')
block content
  .product.product-details(id=`${id}`)
    .product__image
    .details
      .buttons
        button.add-cart Add to cart
        button.add-favourite Favourite