<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>California</title>
    <link rel="icon" type="image/x-icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
        </header>

        <div class="search">
            <input class="search__input" type="text">
            <button>search</button>
            <div class="search__results"></div>
        </div>

        <div class="products" id="products"></div>
        <div id="loader"><img src="../images/loader.gif" alt="loader"></div>
    </div>

    <script type="module" src="../main.js"></script>
</body>

</html>